%h1
  Editing profile
- form_for(@profile,:html => { :multipart => true }) do |f|
  = f.error_messages
  = f.hidden_field :user_id
  %div
    = image_tag(@profile.avatar.url(:medium))
  %div
    =f.label "Upload an image."
    =f.file_field :avatar, :size => 20
  %div
    = f.label :description

    = f.text_area :description
  %div
    = f.label :birthday

    = f.date_select :birthday, :start_year => 1930
  %div
    = f.label :phone_number

    = f.text_field :phone_number
  %div
    = f.label :address1

    = f.text_field :address1
  %div
    = f.label :address2

    = f.text_field :address2
  %div
    = f.label :city

    = f.text_field :city
  %div
    = f.label :state

    = f.text_field :state
  %div
    = f.label :zip

    = f.text_field :zip
  %div
    = f.submit 'Update'
