%h1
  New item
- form_for(@item) do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  %div
    = f.label :content
    = f.text_area :content
  %div
    = f.submit 'Create'
= link_to 'Back', items_path
