- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "http://www.pinmonkey.com/pages/1.rss"}

  %body
    #grid
      #header
        %h1
          nawara.com
      #content.golden
        = yield
        -if current_user
          %p= "logged in as #{current_user.login}, #{link_to 'logout', '/logout'}"
        -else
          %p= link_to "not logged in", "/login", :id => "log_in"
    - # include javascript
    = javascript_include_tag :all
    /- if ie?
    /  = javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'
    = yield :javascript
    :javascript
      document.observe("dom:loaded",function(ev){
        #{yield :onReady}
      });
