- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "http://www.pinmonkey.com/pages/1.rss"}
    %title nawara.com
  %body
    #grid
      #header
        %h1
          = link_to "nawara.com", root_path
        -if current_user
          %p.login= "howdy #{link_to current_user.login, :controller => :profiles, :action => :edit, :id => current_user.id}, #{link_to 'logout', '/logout'}"
        -else
          %p.login
            = link_to "log in", "/login", :id => "log_in"
            or
            = link_to "sign up", "/signup"
      #content.golden
        = yield
    - # include javascript
    = javascript_include_tag :all
    /- if ie?
    /  = javascript_include_tag 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'
    = yield :javascript
    :javascript
      document.observe("dom:loaded",function(ev){
        #{yield :onReady}
      });
