%h1
  New account
- form_for(@account) do |f|
  = f.error_messages
  %div
    = select_tag "type_of" , options_for_select([["twitter", "TwitterAccount"]])
    //= select_tag "type_of" , options_for_select([["twitter", "TwitterAccount"],["facebook", "FacebookAccount"],["RSS","RssAccount"]])
  %div
    = f.label :url
    = f.text_field :url
  %div
    = f.label :username
    = f.text_field :username
  %div
    = f.submit 'Create'
= link_to 'Back', accounts_path
